<html>
	<head>
		<title>1942 Game</title>

		<style type="text/css">
			body{
				background-color:black;
			}
			#container{
				background: url('/images/background.jpg');
				width:1000px;
				height:550px;
			}
			#hero{
				background: url('/images/1942.gif');
				background-position: -30px -10px;
				width:28px;
				height:28px;
				position:absolute;
			}
			.enemy{
				background: url('/images/1942.gif');
				background-position-y: -180px;
				background-position-x: -85px;
				width:28px;
				height:28px;
				position:absolute;
				transform: rotate(180deg);
			}
			.bigEnemy{
				background: url('/images/1942.gif');
				background-position-y: -105px;
				background-position-x: -40px;
				width:48px;
				height:48px;
				position:absolute;
				transform: rotate(180deg);
			}
			.bullet{
				background: url('/images/1942.gif');
				background-position: -185px -400px;
				width:18px;
				height:18px;
				position:absolute;
			}
			.explode_img {
				background: url('/images/1942.gif');
				background-position: -82px -40px;
				width: 28px;
				height: 28px;
				position: absolute;
			}
			#score{
				position:absolute;
				border:10px solid red;
				top:20px;
				left:800px;
				background-color:white;
				padding:10px;
				font-size:30px;
				font-family: Arial;	
			}
		</style>
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
		<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
		<script>
			var name = prompt("Please enter your name");
			var heroes = {};
			heroes[name] = {x:10, y:10}
			var enemies = [],
				bigEnemies = [],
				bullets = [],
				score = 100,
				enemiesAdded = 1,
				shootNoise = new Audio('/sounds/shootNoise.wav'),
				explodeNoise = new Audio('/sounds/enemyExplodes.wav');
				
			$(document).ready(function() {
				var socket = io.connect();
				socket.emit("playerJoin",{name:name});
				document.onkeydown = function(e) {
					let key;
					switch (e.keyCode) {
						case 38:
							key = "up";
							break;
						case 39:
							key = "right";
							break;
						case 40:
							key = "down";
							break;
						case 37:
							key = "left";
							break;
						case 32:
							key = "space";
							shootNoise.play();
							break;
						default:
							key = "BADKEY";
					}
					if (key != "BADKEY") {
						socket.emit("updatePlayer", {key:key, name:name});
					}
					
				}	
				socket.on("updateGame", function(data) {
					console.log(data)
					enemies = data.response.enemies;
					bigEnemies = data.response.bigEnemies,
					bullets = data.response.bullets,
					score = data.response.score,
					enemiesAdded = data.response.enemiesAdded
					gameLoop();
				});
			});
		</script>
	</head>
	<body>
		<div id='container'>
			<div id="heroes"></div>
			<div id='enemies'>
			</div>
			<div id='bullets'>
			</div>	
			<div id='explodes'>
			</div>	
		</div>

		<div id='score'>100</div>


	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script>
		function displayHero() {
			document.getElementById("heroes").innerHTML("");
			for (let key in heroes) {
				let element = document.createElement("div");
				element.id = key;
				element.style["top"] = heroes[key].x
				element.style["left"] = heroes[key].y
				document.getElementById("heroes").appendChild(element);
			}
			for(i = 0; i < enemies.length; i++) {
				var xDiff = hero.x - enemies[i].x,
					yDiff = hero.y - enemies[i].y;
				if(xDiff < 20 && xDiff > -20 && yDiff < 20 && yDiff > -20) {
					explode(hero.x,hero.y)
					enemies[i] = 'remove'
					score -= 500;
				}
			}
				
			for(i = 0; i < bigEnemies.length; i++) {
				var xDiff = hero.x - bigEnemies[i].x,
					yDiff = hero.y - bigEnemies[i].y;
				if(xDiff < 20 && xDiff > -20 && yDiff < 20 && yDiff > -20) {
					explode(hero.x,hero.y)
					bigEnemies[i] = 'remove'
					score -= 500;
				}
			}
		}


		function displayEnemies() {
			var output = '';
			for(i = 0; i < enemies.length; i++) {
				output += "<div id='0' class='enemy' style='top:" + enemies[i].y  + "; left:" + enemies[i].x + "px;'></div>";
			}
			for(i = 0; i < bigEnemies.length; i++) {
				output += "<div id='0' class='bigEnemy' style='top:" + bigEnemies[i].y  + "; left:" + bigEnemies[i].x + "px;'></div>";
			}
			if(enemies.length < 7) {
				var xPos = (Math.random() * 900) + 50;
				if(enemiesAdded % 15 == 0) {
					output += "<div id='0' class='bigEnemy' style='top: 10; left: " + xPos + "px;'></div>";
					bigEnemies.push({x: xPos, y: -10})
				} else {
					output += "<div id='0' class='enemy' style='top: 10; left: " + xPos + "px;'></div>";
					enemies.push({x: xPos, y: -10})
				}
				enemiesAdded += 1;
			}
			document.getElementById('enemies').innerHTML = output;
		}

		function explode(x,y) {
			document.getElementById('explodes').innerHTML = '<div class="explode_img" style="top: ' + y + 'px; left:' + x + 'px;"></div>'
			explodeNoise.play();
		}

		

		function displayBullets() {
			if(bullets.length > 0) {
				var output = '';
				for(i = 0; i < bullets.length; i++) {
					output += "<div id='0' class='bullet' style='top:" + bullets[i].y  + "; left:" + (bullets[i].x + 8) + "px;'></div>";
				}
				document.getElementById('bullets').innerHTML = output;
			} else {
				document.getElementById('bullets').innerHTML = '';
			}
		}

		function updateScore() {
			document.getElementById('score').innerHTML = score;
		}

		function gameLoop() {
			displayHero();
			// moveEnemies();		//moved to server
			displayEnemies();
			// moveBullets();		//moved to server
			displayBullets();
			// remove();			//moved to server
			updateScore();
		}
	</script>

	</body>
</html>